In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import  numpy as np
%matplotlib inline

In [2]:
df = pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [4]:
int(df.duplicated().sum())

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [6]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [7]:
numerical = [n for n in df.columns if df[n].dtype != 'O']
categorical = [n for n in df.columns if df[n].dtype == 'O']

print("We have {} Numerical : {}".format(len(numerical),numerical))
print("We have {} Catergorical :{} ".format(len(categorical),categorical))

We have 3 Numerical : ['math score', 'reading score', 'writing score']
We have 5 Catergorical :['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

In [8]:
print(df['gender'].unique())
print(df['lunch'].unique())
print(df['math score'].unique())
print(df['parental level of education'].unique())
print(df['race/ethnicity'].unique())
print(df['writing score'].unique())
print(df['test preparation course'].unique())

['female' 'male']
['standard' 'free/reduced']
[ 72  69  90  47  76  71  88  40  64  38  58  65  78  50  18  46  54  66
  44  74  73  67  70  62  63  56  97  81  75  57  55  53  59  82  77  33
  52   0  79  39  45  60  61  41  49  30  80  42  27  43  68  85  98  87
  51  99  84  91  83  89  22 100  96  94  48  35  34  86  92  37  28  24
  26  95  36  29  32  93  19  23   8]
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['group B' 'group C' 'group A' 'group D' 'group E']
[ 74  88  93  44  75  78  92  39  67  50  52  43  73  70  58  86  28  46
  61  63  53  80  72  55  65  38  82  79  83  59  57  54  68  66  62  76
  48  42  87  49  10  34  71  37  56  41  22  81  45  36  89  47  90 100
  64  98  51  40  84  69  33  60  85  91  77  27  94  95  19  35  32  96
  97  99  15  30  23]
['none' 'completed']

In [9]:
df['total_score'] = df['math score'] + df['reading score'] + df['writing score']

In [10]:
df['average_score'] = df['total_score'] / 3